* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding: 10px 5%;
}

.row, .column {
	display: flex;
}

.column {
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.header {
	margin-bottom: 10px;
}

.shop-form {
	width: 350px;
	margin-bottom: 25px;
}

.shop-header {
	text-align: center;
	margin-bottom: 10px;
}

.shop-form input, .shop-form button {
	margin-bottom: 5px;
	padding: 6px;
}

.shop {
	background: #555;
	color: #fff;
	padding: 10px 15px 7px;
	margin-right: 10px;
}

.shop > * {
	font-weight: 300;
}

.shop h2 {
	text-align: center;
	font-weight: 300;
	margin-bottom: 5px;
}

.shop form input, .shop form button {
	padding: 4px;
	margin-bottom: 2px;
}

.shop h3 {
	text-align: center;
	margin: 3px 0 5px;
	border-bottom: 1px solid #707070;
	padding-bottom: 3px;
}

.shop h4.empty {
	max-width: 120px;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
}

.shop .coffee {
	padding: 3px;
	background: #444;
	text-align: center;
	margin-bottom: 4px;
}

.shop .coffee h4 {
	font-weight: 400;
	font-size: .95rem;
	margin-bottom: 3px;
}

.shop .coffee p {
	font-size: .8rem;
}
